{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.team.team.enable }}
{{ with $data.team.team }}
<style>

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {
  font-size:14px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {
  font-size:16px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
  font-size:17px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
  font-size:18px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
  font-size:20px;}
}
</style>
<section style ="h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}">
    <div class="container">
    	<!--<div class="row justify-content-md-center">
        {{ range .facultyadvisor }}
<div class="col-md-4">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="{{ .bgimage }}" alt="" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="{{.Site.BaseURL}}/{{ .image }}" alt="{{ .name }}" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>{{ .name }}<small>{{ .position }}</small></h2>
                     <i class="fa fa-home"></i> {{ .iitkaddress }}
                     <div class="icon-block"><a href="tel:{{.phone}}"><i class="fa fa-phone"></i></a><a href="{{ .facebook}}"><i class="fa fa-facebook"></i></a>
                       <a href="{{.linkedin}}"> <i class="fa fa-linkedin"></i></a><a href="mailto:{{.email}}"> <i class="fa fa-envelope"></i></a>
                       <a href="{{.github}}"> <i class="fa fa-github"></i></a></div>
                    </div>
                </div>
                
    		</div>
        {{ end }}
</div>-->
         {{ range .coordinator }}
     <div class="row justify-content-md-center">
       
<div class="col-sm-4" style ="padding-top:10px;padding-bottom:10px;">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="{{ .bgimage }}" alt="" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="/fac/{{.image}}" alt="{{ .name }}" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>{{ .name }}<small>{{ .position }}</small></h2>
                     <i class="fa fa-home"></i> {{ .iitkaddress }}
                     <div class="icon-block"><a href="tel:{{.phone}}"><i class="fa fa-phone"></i></a><a href="{{ .facebook}}"><i class="fa fa-facebook"></i></a>
                       <a href="{{.linkedin}}"> <i class="fa fa-linkedin"></i></a><a href="mailto:{{.email}}"> <i class="fa fa-envelope"></i></a>
                       <a href="{{.github}}"> <i class="fa fa-github"></i></a></div>
                      
                    </div>
                </div>
                
    		</div>
         <div class="col-sm-8" style ="padding-top:10px;padding-bottom:10px;">
    		    <div class="card" style="background:#efefef;" >
    		        
    		        <div class="card-content example">
                        
                    {{.content}}
                      
                    </div>
                </div>
                
    		</div>
        
</div>
        {{ end }}
        <div class="row justify-content-md-center">
        {{ range .secretary }}
<div class="col-sm-6 col-md-4" style ="padding-top:10px;padding-bottom:10px;">
    		    <div class="card profile-card-3">
    		        <div class="background-block">
    		            <img src="{{ .bgimage }}" alt="" class="background"/>
    		        </div>
    		        <div class="profile-thumb-block">
    		            <img src="/fac/{{ .image }}" alt="{{ .name }}" class="profile"/>
    		        </div>
    		        <div class="card-content">
                    <h2>{{ .name }}<small>{{ .position }}</small></h2>
                     <i class="fa fa-home"></i> {{ .iitkaddress }}
                     <div class="icon-block"><a href="tel:{{.phone}}"><i class="fa fa-phone"></i></a><a href="{{ .facebook}}"><i class="fa fa-facebook"></i></a>
                       <a href="{{.linkedin}}"> <i class="fa fa-linkedin"></i></a><a href="mailto:{{.email}}"> <i class="fa fa-envelope"></i></a>
                       <a href="{{.github}}"> <i class="fa fa-github"></i></a></div>
                    </div>
                </div>
                
    		</div>
        {{ end }}
</div>
    </div>
</section>


    
            </div>
       
 {{ end }}
 {{ end }}

<style type="text/css">
  body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}



/*Profile Card 3*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 60%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 150px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 20px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}
</style>
{{ end }}
