
  
  <!-- Site footer -->
    <footer class="site-footer" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-offset-1 col-md-4">
            <h2>About</h2>
          
            <p class="text-justify" style ="font-size:16px ;color:#737373;">The Finance and Analytics Club, IIT Kanpur is one of the largest professional clubs on campus, hosting a full schedule of events to help everyone from those with no background in finance to those coming from finance looking to switch focus within the industry.</p>
          </div>

          <div class="col-xs-6 col-md-offset-1 col-md-2">
            <h3>Quick Links</h3>
            <ul class="footer-links">
              <li><a href="">Home</a></li>
              <li><a href="/fac/about">About</a></li>
              <li><a href="/fac/project">Projects</a></li>
              <li><a href="/fac/events">Events</a></li>
              <li><a href="/fac/blog">Blog</a></li>
              <li><a href="/fac/contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-offset-1 col-md-2">
            <h2>IITK Links</h2>
            <ul class="footer-links">
              <li><a href="https://www.iitk.ac.in/">IITK Homepage</a></li>
              <li><a href="https://students.iitk.ac.in/gymkhana/">Students' Gymkhana</a></li>
              <li><a href="https://students.iitk.ac.in/snt/">Science and Technology Council</a></li>
              
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="  col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
            <p class="copyright-text" style ="font-size:14px;">Copyright &copy; 2020
         <a href="https://students.iitk.ac.in/fac">Finance and Analytics Club , IIT Kanpur</a>.
            </p>
          </div>
          <div class=" col-md-3 col-sm-offset-1 col-sm-6 col-xs-12">
            <p class="copyright-text" style ="font-size:16px;">Designed by :
         <a href="https://itsgyanendra.github.io/gyan/"><strong>Gyanendra Kumar</strong></a>
          <a href="https://itsgyanendra.github.io/gyan/"><i class="fa fa-external-link" style="color:white;"></i></a>
            </p>
          </div>

         <!-- <div class="col-md-1 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" target="_blank" href="https://www.facebook.com/fdgiitkanpur"><img src ="/fac/images/facebook.png"></a></li>
              
              <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/finance-and-analytics-club/"><img src ="/fac/images/linkedin.png"></a></li>   
            </ul>
          </div> -->
        </div>
      </div>
</footer>
<style>
.site-footer
{
  background-color:#090606;
  padding:45px 0 20px;
  font-size:16px;
  line-height:34px;
  color:white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
  font-size :12px;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
</style>
<!-- Google Map API -->
{{ if site.Params.gmap.enable }}
<script src="{{ site.Params.gmap.gmap_api | safeURL }}"></script>
{{ end }}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- google analitycs -->
{{ with site.Params.google_analitycs_id }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
