  
{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class="img-responsive w-100" src="{{ .Params.Image | relURL }}" alt="">
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Events Details</h4>
          <ul>
            {{ range .Params.Information }}
            <li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
            {{ end }}
          </ul>
          
          
          <h2>Share:- </h2>
          <div id="share-buttons"> 
          <!-- Facebook --> 
          <a href="https://www.facebook.com/sharer.php?u=https://students.iitk.ac.in/fac/project/{{ .Params.eventname }}" target="_blank"><img src="https://4.bp.blogspot.com/-raFYZvIFUV0/UwNI2ek6i3I/AAAAAAAAGSA/zs-kwq0q58E/s1600/facebook.png" alt="Facebook" /></a>
          <!-- Twitter --> 
          <a href="https://twitter.com/share?url=https://students.iitk.ac.in/fac/project/{{ .Params.eventname }}&text=Simple Share Buttons" target="_blank"><img src="https://4.bp.blogspot.com/--ISQEurz3aE/UwNI4hDaQMI/AAAAAAAAGS4/ZAgmPiM9Xpk/s1600/twitter.png" alt="Twitter" /></a> 
          <!-- Google+ --> 
          <a href="https://plus.google.com/share?url=https://students.iitk.ac.in/fac/project/{{ .Params.eventname }}" target="_blank"><img src="https://2.bp.blogspot.com/-9ijXNtKTaSk/UwNI3ANT4MI/AAAAAAAAGSY/Tu4kE8x9SnI/s1600/google.png" alt="Google" /></a> 
           <!-- Reddit --> 
           <a href="http://reddit.com/submit?url=https://students.iitk.ac.in/fac/project/{{ .Params.eventname }}&title=Simple Share Buttons" target="_blank"><img src="https://4.bp.blogspot.com/-1-mZEa1eiyc/UwNI4JytiFI/AAAAAAAAGSs/AoKmBkkJR-s/s1600/reddit.png" alt="Reddit" /></a>
            <!-- LinkedIn --> 
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://students.iitk.ac.in/fac/project/{{ .Params.projectname }}" target="_blank"><img src="https://2.bp.blogspot.com/-3_cATk7Wlho/UwNI3eoTTLI/AAAAAAAAGSQ/Y8cpq6S-SeQ/s1600/linkedin.png" alt="LinkedIn" /></a> 
       </div>
       
       
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
 #share-buttons img { width: 55px; padding: 5px; border: 0; box-shadow: 0; display: inline; }
</style>

{{ end }}
